<style>
html {
 margin: 30px;
}

body {
background-color: rgb(238,238,238);
font-family: vijaya;
}

h1 {
font-family: brush script mt;
font-size: 100px;
text-align: center;
}


h2{
background-color: rgb(153,204,204);
font-family: raleway semibold;
}

#header {
    background-color: rgb(238,238,238);
    font-family: vijaya;
    text-align:center;
    padding:5px;
}

#main {
    width:350px;
    float:left;
    padding:10px; 
}

#sidebarprimary {
    line-height:30px;
    background-color:rgb(153,204,204)
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}

#footer {
    text-align:center;
    padding:5px; 
}
</style>