html {
	margin: 10px;
}

body {
background-color: rgb(238,238,238);
font-family: vijaya;
}

h1 {
font-family: brush script mt;
font-size: 100px;
text-align: center;
}

h2{
background-color: rgb(153,204,204);
font-family: raleway semibold;
}c